.assignedTo {
    font-size: 1rem;

    color: salmon;
    height: 3rem;
    width: 3rem;
    border: 2px solid silver;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}


.score {
    border: none;
    outline: none;
    background-color: Transparent;
    color: white;
    font-size: 1rem;
}