@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Merienda+One&display=swap');

body { 
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: linear-gradient( rgba(137, 78, 172, 0.5), rgba(211, 124, 145, 0.329));
                      
 }
 //url('https://images.all-free-download.com/images/graphiclarge/family_background_cute_colored_cartoon_design_6833233.jpg');


.project__head {
    display: flex;
    margin: 0 10rem;
    padding: 2rem 0;
    justify-content: center;
    align-items: flex-start;

    &__btn {
        margin: 0 2rem;
        background-color: #7a8b99;
        border: 2px solid black;
        border-radius: 1rem;
    }

    &__icon {
       padding: 0.5rem;
    }

    &__text {
        width: 30rem;
    }

    &__title {
        font-family: 'Merienda One', cursive;
        color: #323232;

    }

    // &__body {

    // }
}


.details {

    margin: 2rem 10rem;

    &__head {
        font-family: 'Merienda One', cursive;
        color: #323232;
    }

    &__list {
        display: flex;
        flex-flow: row wrap;
        padding-left: 0;
    }

    &__item {
        margin: 1rem;
        height: 5rem;
        width: 17rem;
        border: 2px solid #543855;
        list-style-type: none;
        white-space: pre-line;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: height 1s;

        padding: 1rem;
        border-radius: 1rem;
        background-color: darksalmon;
        color: #543855;


        &__title {
            font-family: 'Merienda One', cursive;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            
        }

        &__description {
            opacity: 0.8;
        }
    }

    &__item:hover {
        height: 10rem;
    }
}