
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Merienda+One&display=swap');

.hero {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero > img {
    width: 50%;
      
}
.hero-right {
    width: 26rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-btn {
    width: 9rem;
    height: 4rem;
    border: 1px solid #543855;
    border-radius: 4px;
    text-align: center;
    background-color: #543855;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    
}

.hero-btn:hover {
    background-color: #9c6a9e;
    border: 2px solid #9c6a9e;
    
}

.hero-text {
    z-index: 10;
    font-family: 'Merienda One', cursive;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    animation-name: textflow;
    animation-duration: 1.5s;  
    animation-delay: 0.5s;
    animation-fill-mode: both; 

}

@keyframes textflow {
  from {top: 4rem; opacity: 0 }
  to {top: 19rem; opacity: 1 }
}

.hero-slogan {
    font-size: 3rem;
    
    animation-name: textcolor;
    animation-duration: 2s;  
    animation-delay: 2s;
    animation-fill-mode: both;
    margin-bottom: 2rem;
}

@keyframes textcolor {
  from { color:black;}
  to { color: salmon; }
}


.activities {
    
    display: flex;
    justify-content: center;
    margin: 3rem;

    &__box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10rem;
        width: 25rem;;
        background-color: white;

        p {
            font-size: 2rem;
            padding: 0 1rem;
        }
    }

    .middle {
        border-right: 2px solid salmon;
        border-left: 2px solid salmon;

        p {
            margin: 0 2rem;
        }
    }
}