* {
    margin: 0;
}


@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

header {
    
    
    color: salmon;
    height: 5rem;
    //width: 100vw;


    a{
        text-decoration: none;
    }

    h1 {
        font-family: 'Bangers', cursive;
        letter-spacing: 8px;
        position: absolute;
        left: 10rem;
        top: 2rem;
        
        color: salmon;
    }
}


