* {
    margin: 0;
}


@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');

header {
    
    
    color: salmon;
    height: 5rem;
    width: 100%;
    animation-name: example;
    animation-duration: 4s;
    background-color: white;

    a{
        text-decoration: none;
    }

    h1 {
        font-family: 'Bangers', cursive;
        letter-spacing: 8px;
        position: relative;
        left: 10rem;
        top: 2rem;
        
        color: salmon;
    }
}

// @keyframes example {
//   from {background-color: #cfebdf;}
//   to {background-color: yellow;}
// }


.logo{
    
    width: 30%;
    height: 8rem;
    object-fit: none;
    border-radius: 20px;
}